# lite resource allocations for medium vps (8gb ram)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kora
  namespace: kora
spec:
  template:
    spec:
      containers:
        - name: kora
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "1000m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: kora
spec:
  template:
    spec:
      containers:
        - name: minio
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: kora
spec:
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kora-memory
  namespace: kora
spec:
  resources:
    requests:
      storage: 5Gi
