# lite resource allocations for medium vps (8gb ram)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sheldon
  namespace: sheldon
spec:
  template:
    spec:
      containers:
        - name: sheldon
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "1000m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: sheldon
spec:
  template:
    spec:
      containers:
        - name: minio
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: sheldon
spec:
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sheldon-memory
  namespace: sheldon
spec:
  resources:
    requests:
      storage: 5Gi
