# minimal resource allocations for small vps
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sheldon
  namespace: sheldon
spec:
  template:
    spec:
      containers:
        - name: sheldon
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: sheldon
spec:
  template:
    spec:
      containers:
        - name: minio
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: sheldon
spec:
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sheldon-memory
  namespace: sheldon
spec:
  resources:
    requests:
      storage: 1Gi
